<nav id="primary-navbar" class="navbar navbar-expand-lg {{ site.data.theme.bootswatch.navbar }}">
    <div class="container-fluid">
        <button id="open-menu" class="navbar-toggler" type="button" 
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="navbar-section left">
            <a href="{{ '/' | relative_url }}" class="navbar-brand">
                {% assign navbar_icon = '/assets/img/sitelogo.png' %}
                {% if site.data.theme.navbar-icon %}{% assign navbar_icon = site.data.theme.navbar-icon %}{% endif %}
                <img alt="{{ site.title }}" src="{{ navbar_icon | relative_url }}" />
                <span>{{ site.title }}</span>
            </a>
        </div>
        <div class="navbar-section navbar-nav right">
            {% if site.search %}<a href="" class="nav-link"><i class="fas fa-search"></i></a>{% endif %}
            {% if site.github.url %}<a href="{{ site.github.url }}" class="nav-link"><i class="fab fa-github"></i></a>{% endif %}
        </div>
    </div>
</nav>