<nav id="primary-navbar" class="navbar navbar-expand-lg bd-navbar {{ site.data.theme.bootswatch.navbar }}">
    <div class="container-fluid">
        <button id="open-menu" class="navbar-toggler" type="button" 
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="navbar-section left">
            <a href="{{ '/' | relative_url }}" class="navbar-brand">
                {% assign navbar_icon = '/assets/img/sitelogo.png' %}
                {% if site.data.theme.navbar-icon %}{% assign navbar_icon = site.data.theme.navbar-icon %}{% endif %}
                <img alt="{{ site.title }}" src="{{ navbar_icon | relative_url }}" />
                {{ site.title }}
            </a>
        </div>
        <ul class="navbar-section navbar-nav right">
            {% if site.search %}<li class="nav-item"><a href="" class="nav-link"><i class="fas fa-search"></i></a></li>{% endif %}
            {% if site.github.url %}<li class="nav-item"><a href="{{ site.github.url }}" class="nav-link"><i class="fab fa-github"></i></a></li>{% endif %}
        </ul>
    </div>
</nav>