<nav id="main-navigation">
    <div id="main-navigation-wrapper">
        <nav id="navigation-navbar" class="navbar navbar-expand-lg {{ site.data.theme.bootswatch.navbar }}">
            <button id="close-menu" class="navbar-toggler" type="button" 
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-arrow-left"></i>
            </button>        
        </nav>
        <div class="menu-wrapper">
            <ul>
                <li class="item {% if '/' == page.url %}active{% endif %}">
                    {% assign index = site.pages | where: "path","index.md" | first %}
                    <a href="{{ index.url | relative_url }}">{{ index.title }}</a>
                </li>
            </ul>
            {% for menu_group in site.data.menu %}
            <ul>                  
                <li class="heading">{{ menu_group.title }}</li>                 
                {% for menu_item in menu_group.links %}
                {% if menu_item.doc %}
                {% capture menu_item_path %}_docs/{{ menu_item.doc }}{% endcapture %}
                {% assign p = site.docs | where:"path", menu_item_path | first %}
                    {% include navigation-menu-item.html %}
                {% elsif menu_item.links %}                
                <li class="item menu">
                    {% assign toggleId = menu_item.title | downcase | replace: ' ', '-' %}
                    <a alt="{{ menu_item.title }}" data-toggle="collapse" href="#{{ toggleId }}" aria-expanded="false" aria-controls="{{ toggleId }}">
                        <span>{{ menu_item.title }}</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                    <ul id="{{ toggleId }}" class="collapse {% if menu_item.title == page.chapter.title %}show{% endif %}">
                        {% for sub_menu_link in menu_item.links %}
                        {% capture sub_menu_link_path %}_docs/{{ sub_menu_link.doc }}{% endcapture %}
                        {% assign p1 = site.docs | where:"path", sub_menu_link_path | first %}
                        <li class="item {% if p1.path == page.path %}active{% endif %}">
                            <a href="{{ p1.url | relative_url }}" alt="{{ p1.title }}">
                                <span>{{ p1.title }}</span>                    
                            </a>
                        </li>
                        {% endfor %}                
                    </ul>
                </li> 
                {% elsif menu_item.href %}
                    {% include navigation-menu-item-external.html %}
                {% endif %}
                {% endfor %}                        
            </ul>
            {% endfor %}
        </div>
    </div>
</nav>