
section.prev-next-links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: #{$grid-gutter-width};

  > a {
    @extend .site-link;
    flex: 1;
    display: flex;
    flex-direction: row;

    &.prev-doc {
      text-align: right;
    }

    .section-title {
      color: $pagination-color;
      font-size: 0.8em;
    }
  }
}

@include media-breakpoint-up(md) {
  section.prev-next-links {
    flex-direction: row;

    > a {
      &:first-child {
        margin-right: #{$grid-gutter-width/3};
      }      
    }
  }
}