
section.prev-next-links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: #{$grid-gutter-width};

  > a {
    flex: 1;
    color: $body-color;
    border: 1px solid gray("400");
    border-radius: 2px;
    padding: #{$grid-gutter-width/3} #{$grid-gutter-width/2};
    margin-bottom: #{$grid-gutter-width/3};
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    i {
      color: gray("400");
    }

    &.prev-doc {
      text-align: right;
    }

    &:hover {
      text-decoration: none;
      border: 1px solid theme-color("primary");

      .title,
      i {
        color: theme-color("primary");
      }
    }

    .section-title {
      color: gray("600");
      font-size: 0.8em;
    }
  }
}

@include media-breakpoint-up(md) {
  section.prev-next-links {
    flex-direction: row;

    > a {
      &:first-child {
        margin-right: #{$grid-gutter-width/3};
      }      
    }
  }
}