html,
body {
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  --mm-ocd-width: 300px;
  --mm-ocd-max-width: 300px;
}

h1, h2 {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

h3, h4, h5 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

pre {
  padding: 10px;
}

a, 
a * {
  transition: all 0.25s linear;
  transition-property: border color;
}

a.site-link {
  color: $body-color;
  border: 1px solid $pagination-border-color;
  border-radius: 2px;
  padding: #{$grid-gutter-width/3} #{$grid-gutter-width/2};
  margin-bottom: #{$grid-gutter-width/3};
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  i {
    color: $pagination-color;
  }

  &:hover {
    text-decoration: none;
    border: 1px solid $pagination-active-border-color;
    box-shadow: .125rem .25rem rgba($pagination-active-border-color, .075);

    .title,
    i {
      color: $pagination-active-border-color;
    }
  }
}

blockquote {
  margin: 0 0 1rem;
  border-left: 4px solid $gray-400;
  background-color: $gray-200;
  padding: 2em 2em;
  border-radius: 5px;

  p {
    margin: 0px;
  }
}

@each $name,$color in $theme-colors {
  blockquote.#{$name} {
    border-left-color: $color;
    background-color: #{$color}33;
  }
}

.container-fluid {
  width: 100%;
}

nav.navbar {
  height: 60px;
  z-index: 1000;
  position: fixed;
  width: 100%;
  @extend .shadow-sm;

  .navbar-toggler {
    border-color: transparent !important;
    border: 0px !important;

    &:active,
    &:hover,
    &:focus {
      border: 0px;
      outline: none;
    }
  }

  .navbar-brand {
    display: flex;
    align-items: center;
    font-weight: $navbar-title-weight;

    img {
      height: 30px;
      border-radius: 50px;   
      margin-right: 16px;   
    }
  }

  .nav-link {
    padding: 0.5em;
    font-size: $navbar-title-size;    
  }

  .navbar-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &.left {
      flex: 1;
      overflow: hidden;
      position: relative;      
    }
  }
}

main {
  display: flex;
  flex: 1;
  margin-top: 72px;

  .main-content {
    width: 100%;
    flex: 1;
    padding: $grid-gutter-width/2;
  }
}

@include media-breakpoint-up(md) {
  .img-fluid {
    display: block;
    max-width: 75%;
  }
}

@include media-breakpoint-up(lg) {
  .container-fluid {
    width: 100%;
  }

  nav.navbar {
    position: initial;
    height: 72px;

    .navbar-section.left {
      flex: initial;
      min-width: $navigation-width;          
  
      &:after {
        content: "";
        position: absolute;
        top: 20%; bottom: 20%; right: 0px;
        width: 1px;
        background-color: $navbar-dark-color;
      }
    }    
  }

  main {
    margin-top: 0px;

    .main-content {
      width: calc(100% - (300px + #{$grid-gutter-width}));
      padding-left: calc( #{$grid-gutter-width} * 1.5 );
      padding-right: calc( #{$grid-gutter-width} * 1.5 );

      .article-index {
        display: none;
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  .container-fluid {
    width: map-get($grid-breakpoints, xl);
  }

  main {
    .main-content {
      width: calc(100% - ((100% - #{map-get($grid-breakpoints, xl)}) / 2 + #{$navigation-width} + #{$grid-gutter-width/2}) );

      padding-left: calc( #{$grid-gutter-width} * 2 );
      padding-right: calc((100% - #{map-get($grid-breakpoints, xl)}) / 2);

      .article-index {
        border-left: 1px solid $pagination-color;
      }
    }
  }
}

@import "navigation";
@import "breadcrumbs";
@import "footer";