$content-max-width: 1280px !default;

html,
body {
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  --mm-ocd-width: 300px;
  --mm-ocd-max-width: 300px;
}

.container-fluid {
  width: 100%;
  max-width: $content-max-width;
}

h1 {
  padding-bottom: $grid-gutter-width/2;
  margin-bottom: $grid-gutter-width;
}

h2 {
  padding-bottom: $grid-gutter-width/2;
}

nav.navbar {
  height: 72px;
  z-index: 1000;
  position: fixed;
  width: 100%;
  @extend .shadow-sm;

  .navbar-toggler {
    border-color: transparent !important;
    border: 0px !important;

    &:active,
    &:hover,
    &:focus {
      border: 0px;
      outline: none;
    }
  }

  .navbar-brand {
    display: flex;
    align-items: center;

    img {
      height: 36px;
      border-radius: 50px;   
      margin-right: 16px;   
    }

    span {      
      font-weight: $navbar-title-weight;
    }
  }

  .nav-link i {
    font-size: $navbar-title-size;    
  }

  .navbar-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &.left {
      position: relative;
    }
  }
}

main {
  display: flex;
  flex: 1;
  margin-top: 72px;

  .main-content {
    flex: 1;
    padding: $grid-gutter-width/2 0px;
  }
}

footer {
  min-height: 200px;
  border-top: 1px solid gray("300");
  margin-top: $grid-gutter-width;
  padding-top: $grid-gutter-width;
}

@include media-breakpoint-up(lg) {
  nav.navbar {
    position: initial;
  }

  .navbar-section.left {
    min-width: $navigation-width;          

    &:after {
      content: "";
      position: absolute;
      top: 20%; bottom: 20%; right: 0px;
      width: 1px;
      background-color: $navbar-dark-color;
    }
  }

  main {
    margin-top: 0px;

    .main-content {
      padding-right: calc( 100% - #{$content-max-width} - #{$grid-gutter-width} * 2 );      

      .articles {
        padding-left: calc( #{$grid-gutter-width} * 1.5 );
        padding-right: calc( #{$grid-gutter-width} * 1.5 );
      }

      .article-index {
        display: none;
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  main {

    .main-content {

      .articles {
        padding-left: calc( #{$grid-gutter-width} * 2 );
        padding-right: calc( #{$grid-gutter-width} * 2 );
      }

      .article-index {
        border-left: 1px solid gray("300");
      }
    }
  }
}

@import "navigation";